{{#each this}}
<li style="display: flex; margin-bottom: 5px">
    <img src="{{flag}}" alt="flag" width= "70px" style="display: inline-block; list-style: none;">
    <p style="margin-left: 15px;">{{name}}</p>
</li>
{{/each}}